# ETL Project Using Python and SQL for Superstore Data

In this project, I will extract the superstore data in CSV form, Transform the data to be Parsed into Database, and Load the data in SQL database. <br>
This project will also include:
1. Data Infrastructure development in SQL 
2. Data Modelling in SQL
3. Data Population into SQL Database

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('Superstore_data.csv')
df = pd.DataFrame(data)

In [3]:
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
0,1,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
1,2,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
2,3,CA-2017-138688,12/06/2017,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,4,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,5,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680

In [4]:
list(df.columns)

['Row ID',
 'Order ID',
 'Order Date',
 'Ship Date',
 'Ship Mode',
 'Customer ID',
 'Customer Name',
 'Segment',
 'Country',
 'City',
 'State',
 'Postal Code',
 'Region',
 'Product ID',
 'Category',
 'Sub-Category',
 'Product Name',
 'Sales']

From this list of columns, we can see that this sales data can be normalized. <br>
This means:
1. Customer ID, Customer Name, Segment, Country, City, State, Postal Code can become a separate table named "Customers"
2. Product ID, Category, and Sub-Category can become a separate table named "Products"

Also, we can also notice that we do not really need Row ID. The column Invoice ID is good enough column to become primary key for "Sales" table.

# Data Infrastructure

As the name of the project suggests, I will be transferring the data to SQL. For that, I will have to use appropriate libraries in python to create a connection with SQL database.

In [5]:
# importing connector
import mysql.connector
import os
from dotenv import load_dotenv

In [6]:
load_dotenv()
db_user = os.getenv('DB_USER')
db_password = os.getenv('DB_PASSWORD')

# Establishing the connection
try:
    conn = mysql.connector.connect(
        host= "127.0.0.1",
        port= "3306",
        user= db_user,
        password= db_password,
    )
except mysql.connector.Error as e:
    print(f"Error: {e}")

In [7]:
# creating cursor
cursor = conn.cursor()

In [8]:
# Testing the connection
# Let us list all the Schemas/Databases in MySQL
cursor.execute("SHOW DATABASES")
dbs = cursor.fetchall()
for db in dbs:
    print(db)

('information_schema',)
('mysql',)
('parks_and_recreation',)
('performance_schema',)
('sakila',)
('superstore_db',)
('sys',)
('world',)

Our connection is set up. Now, Let us create separate Database for our Superstore Data.

In [9]:
# creating Database
cursor.execute("CREATE SCHEMA IF NOT EXISTS superstore_db")

Now our Data Infrastructure is set up. Let us move to Data modelling now.

# Data Modelling
Now we will be creating the tables we discussed above:
1. Products
2. Customers
3. Sales

For making Data modelling easier, I will be using [Quick DBD](https://www.quickdatabasediagrams.com/) platform which is efficient for data modelling in SQL.<br>The schema generated is present in the "quickDB_schema.txt" file

In [10]:
# Number of unique values in each column
df.nunique()

Row ID           9800
Order ID         4922
Order Date       1230
Ship Date        1326
Ship Mode           4
Customer ID       793
Customer Name     793
Segment             3
Country             1
City              529
State              49
Postal Code       626
Region              4
Product ID       1861
Category            3
Sub-Category       17
Product Name     1849
Sales            5757
dtype: int64

we do not require the Row ID, it is just an indentifier for rows.

In [11]:
df.drop(['Row ID'], axis=1, inplace=True)

In [12]:
df.columns

Index(['Order ID', 'Order Date', 'Ship Date', 'Ship Mode', 'Customer ID',
       'Customer Name', 'Segment', 'Country', 'City', 'State', 'Postal Code',
       'Region', 'Product ID', 'Category', 'Sub-Category', 'Product Name',
       'Sales'],
      dtype='object')

In [13]:
# Selecting the database
cursor.execute("USE superstore_db")

In [14]:
# Creating table "Sales"
cursor.execute("DROP TABLE IF EXISTS Sales")
cursor.execute("""
                CREATE TABLE `Sales` (
                `order_id` VARCHAR(255)  NOT NULL ,
                `order_date` DATE  NOT NULL ,
                `ship_date` DATE  NOT NULL ,
                `ship_method` VARCHAR(255)  NOT NULL ,
                `customer_id` VARCHAR(255)  NOT NULL ,
                `product_id` VARCHAR(255)  NOT NULL ,
                `sales` FLOAT  NOT NULL ,
                PRIMARY KEY (
                    `order_id`,`product_id`
                )
            );
            """)

In [15]:
# Creating table "Products"
cursor.execute("DROP TABLE IF EXISTS Products")
cursor.execute("""
               CREATE TABLE `Products` (
                `product_id` VARCHAR(255)  NOT NULL ,
                `category` VARCHAR(255)  NOT NULL ,
                `sub_category` VARCHAR(255)  NOT NULL ,
                `product_name` VARCHAR(255)  NOT NULL ,
                PRIMARY KEY (
                    `product_id`
                )
            );
            """)

In [16]:
# Creating table "Customers"
cursor.execute("DROP TABLE IF EXISTS Customers")
cursor.execute("""
                CREATE TABLE `Customers` (
                    `customer_id` VARCHAR(255)  NOT NULL ,
                    `customer_name` VARCHAR(255)  NOT NULL ,
                    `segment` VARCHAR(255)  NOT NULL ,
                    `city` VARCHAR(255)  NOT NULL ,
                    `state` VARCHAR(255)  NOT NULL ,
                    `country` VARCHAR(255)  NOT NULL ,
                    `postal` INT  NOT NULL ,
                    `region` VARCHAR(255)  NOT NULL ,
                    PRIMARY KEY (
                        `customer_id`
                    )
                );
                """)

In [17]:
# Altering tables to add foreign keys
cursor.execute("""
                ALTER TABLE `Sales` ADD FOREIGN KEY (`customer_id`) REFERENCES `Customers`(`customer_id`);
                """)

cursor.execute("""
                ALTER TABLE `Sales` ADD FOREIGN KEY (`product_id`) REFERENCES `Products`(`product_id`);
                """)

# Adding constraints for unique ids in products and customers
cursor.execute("""
                ALTER TABLE `Products` ADD UNIQUE (`product_id`);
                """)
cursor.execute("""
                ALTER TABLE `Customers` ADD UNIQUE (`customer_id`);
                """)

In [18]:
cursor.execute("SHOW TABLES")

In [19]:
# Displaying Tables
tables = cursor.fetchall()
for table in tables:
    print(table[0])
    cursor.execute(f"DESCRIBE {table[0]}")
    for row in cursor.fetchall():
        print(row)
    print("-----------------")

customers
('customer_id', 'varchar(255)', 'NO', 'PRI', None, '')
('customer_name', 'varchar(255)', 'NO', '', None, '')
('segment', 'varchar(255)', 'NO', '', None, '')
('city', 'varchar(255)', 'NO', '', None, '')
('state', 'varchar(255)', 'NO', '', None, '')
('country', 'varchar(255)', 'NO', '', None, '')
('postal', 'int', 'NO', '', None, '')
('region', 'varchar(255)', 'NO', '', None, '')
-----------------
monthly_growth
('order_year', 'int', 'YES', '', None, '')
('order_month', 'int', 'YES', '', None, '')
('monthly_growth_percentage', 'double', 'YES', '', None, '')
-----------------
products
('product_id', 'varchar(255)', 'NO', 'PRI', None, '')
('category', 'varchar(255)', 'NO', '', None, '')
('sub_category', 'varchar(255)', 'NO', '', None, '')
('product_name', 'varchar(255)', 'NO', '', None, '')
-----------------
sales
('order_id', 'varchar(255)', 'NO', 'PRI', None, '')
('order_date', 'date', 'NO', '', None, '')
('ship_date', 'date', 'NO', '', None, '')
('ship_method', 'varchar(255)', 'NO', '', None, '')
('customer_id', 'varchar(255)', 'NO', 'MUL', None, '')
('product_id', 'varchar(255)', 'NO', 'PRI', None, '')
('sales', 'float', 'NO', '', None, '')
-----------------

The tables have been generated. Now, it is time to populate the tables as per the Data we have in our excel sheet. Let us clean the data before populatating the database. This is because it has become evident upon inspection that we may have some duplicate data rows and null values.

# Data Cleaning
What we are going to do right off the bat is that we are going to replace the double quotes with single quotes. Because this is going to be a problem while parsing values for data population.

In [20]:
df['Product Name'] = df.apply(lambda x: x['Product Name'].replace('"', "'"), axis=1)

Now lets remove the null values.

In [21]:
print(len(df))
df.isnull().sum()

9800

Order ID          0
Order Date        0
Ship Date         0
Ship Mode         0
Customer ID       0
Customer Name     0
Segment           0
Country           0
City              0
State             0
Postal Code      11
Region            0
Product ID        0
Category          0
Sub-Category      0
Product Name      0
Sales             0
dtype: int64

We have 9800 rows out of which only 11 rows have null values. We can remove these rows. It will not make much difference.

In [22]:
df.dropna(inplace=True)
print(len(df))

9789

Now we have a lot of columns with important data. We want to make sure everything is clean before we parse and populate the tables with it.

In [23]:
df.nunique()

Order ID         4916
Order Date       1229
Ship Date        1326
Ship Mode           4
Customer ID       793
Customer Name     793
Segment             3
Country             1
City              529
State              48
Postal Code       626
Region              4
Product ID       1860
Category            3
Sub-Category       17
Product Name     1848
Sales            5750
dtype: int64

We see that there are 1860 product ids. However, we only have 1848 product names. This means that some product names have been assigned more than one product id. This can be for a few reasons:
1. Maybe the product is categorized under more than one category.
2. Maybe the product is categorized under more than one sub-category.
3. Maybe the product is outright categorized under more than one product id. 

Let us find out.

In [24]:
# list of unique product ids
unique_pid = list()
product = df[['Product ID','Category','Sub-Category','Product Name']]

# Deleting all the rows from Products table
cursor.execute("DELETE FROM Products")

# Inserting data into Products table
for index, row in product.iterrows():
    if row['Product ID'] not in unique_pid:
        unique_pid.append(row['Product ID'])
        cursor.execute(f"""
                        INSERT INTO Products (product_id, category, sub_category, product_name)
                        VALUES ('{row['Product ID']}', '{row['Category']}', '{row['Sub-Category']}', "{row['Product Name']}");
                        """)

Now since we have more product ids than product names, there must be duplicate product names or some ids. Let's find those out.

In [25]:
# Finding out rows with duplicate names
cursor.execute("""
               SELECT t1.product_id, t1.category, t1.sub_category, t1.product_name 
               FROM Products t1 
               JOIN (SELECT product_name as name, COUNT(product_name) as occurences
                FROM Products
                GROUP BY product_name
               HAVING occurences > 1) t2
               ON t1.product_name = t2.name
               """)
data = cursor.fetchall()

In [26]:
for row in data:
    print(row)

('FUR-FU-10003981', 'Furniture', 'Furnishings', 'Eldon Wave Desk Accessories')
('FUR-FU-10000023', 'Furniture', 'Furnishings', 'Eldon Wave Desk Accessories')
('FUR-FU-10004351', 'Furniture', 'Furnishings', 'Staple-based wall hangings')
('FUR-FU-10001940', 'Furniture', 'Furnishings', 'Staple-based wall hangings')
('FUR-TA-10004086', 'Furniture', 'Tables', 'KI Adjustable-Height Table')
('FUR-TA-10001039', 'Furniture', 'Tables', 'KI Adjustable-Height Table')
('OFF-AP-10004249', 'Office Supplies', 'Appliances', 'Staple holder')
('OFF-AP-10002222', 'Office Supplies', 'Appliances', 'Staple holder')
('OFF-AP-10001366', 'Office Supplies', 'Appliances', 'Staple holder')
('OFF-AR-10004790', 'Office Supplies', 'Art', 'Staples in misc. colors')
('OFF-AR-10004707', 'Office Supplies', 'Art', 'Staples in misc. colors')
('OFF-AR-10004062', 'Office Supplies', 'Art', 'Staples in misc. colors')
('OFF-AR-10003631', 'Office Supplies', 'Art', 'Staples in misc. colors')
('OFF-AR-10003087', 'Office Supplies', 'Art', 'Staples in misc. colors')
('OFF-AR-10002280', 'Office Supplies', 'Art', 'Staples in misc. colors')
('OFF-AR-10001166', 'Office Supplies', 'Art', 'Staples in misc. colors')
('OFF-AR-10003251', 'Office Supplies', 'Art', 'Prang Drawing Pencil Set')
('OFF-AR-10002766', 'Office Supplies', 'Art', 'Prang Drawing Pencil Set')
('OFF-BI-10004140', 'Office Supplies', 'Binders', 'Avery Non-Stick Binders')
('OFF-BI-10000829', 'Office Supplies', 'Binders', 'Avery Non-Stick Binders')
('OFF-BI-10004364', 'Office Supplies', 'Binders', 'Storex Dura Pro Binders')
('OFF-BI-10001922', 'Office Supplies', 'Binders', 'Storex Dura Pro Binders')
('OFF-EN-10000781', 'Office Supplies', 'Envelopes', "#10- 4 1/8' x 9 1/2' Recycled Envelopes")
('OFF-EN-10000461', 'Office Supplies', 'Envelopes', "#10- 4 1/8' x 9 1/2' Recycled Envelopes")
('OFF-EN-10004773', 'Office Supplies', 'Envelopes', 'Staple envelope')
('OFF-EN-10003286', 'Office Supplies', 'Envelopes', 'Staple envelope')
('OFF-EN-10003134', 'Office Supplies', 'Envelopes', 'Staple envelope')
('OFF-EN-10002621', 'Office Supplies', 'Envelopes', 'Staple envelope')
('OFF-EN-10001990', 'Office Supplies', 'Envelopes', 'Staple envelope')
('OFF-EN-10001539', 'Office Supplies', 'Envelopes', 'Staple envelope')
('OFF-EN-10001415', 'Office Supplies', 'Envelopes', 'Staple envelope')
('OFF-EN-10001099', 'Office Supplies', 'Envelopes', 'Staple envelope')
('OFF-EN-10001028', 'Office Supplies', 'Envelopes', 'Staple envelope')
('OFF-EN-10003448', 'Office Supplies', 'Envelopes', 'Peel & Seel Recycled Catalog Envelopes, Brown')
('OFF-EN-10002592', 'Office Supplies', 'Envelopes', 'Peel & Seel Recycled Catalog Envelopes, Brown')
('OFF-FA-10003495', 'Office Supplies', 'Fasteners', 'Staples')
('OFF-FA-10003485', 'Office Supplies', 'Fasteners', 'Staples')
('OFF-FA-10003112', 'Office Supplies', 'Fasteners', 'Staples')
('OFF-FA-10003021', 'Office Supplies', 'Fasteners', 'Staples')
('OFF-FA-10002975', 'Office Supplies', 'Fasteners', 'Staples')
('OFF-FA-10002815', 'Office Supplies', 'Fasteners', 'Staples')
('OFF-FA-10002780', 'Office Supplies', 'Fasteners', 'Staples')
('OFF-FA-10001843', 'Office Supplies', 'Fasteners', 'Staples')
('OFF-FA-10001229', 'Office Supplies', 'Fasteners', 'Staples')
('OFF-FA-10000735', 'Office Supplies', 'Fasteners', 'Staples')
('OFF-PA-10004947', 'Office Supplies', 'Paper', 'Easy-staple paper')
('OFF-PA-10003127', 'Office Supplies', 'Paper', 'Easy-staple paper')
('OFF-PA-10002764', 'Office Supplies', 'Paper', 'Easy-staple paper')
('OFF-PA-10001685', 'Office Supplies', 'Paper', 'Easy-staple paper')
('OFF-PA-10000565', 'Office Supplies', 'Paper', 'Easy-staple paper')
('OFF-PA-10000474', 'Office Supplies', 'Paper', 'Easy-staple paper')
('OFF-PA-10000349', 'Office Supplies', 'Paper', 'Easy-staple paper')
('OFF-PA-10000249', 'Office Supplies', 'Paper', 'Easy-staple paper')
('OFF-ST-10003221', 'Office Supplies', 'Storage', 'Staple magnet')
('OFF-ST-10002562', 'Office Supplies', 'Storage', 'Staple magnet')
('OFF-SU-10001935', 'Office Supplies', 'Supplies', 'Staple remover')
('OFF-SU-10001225', 'Office Supplies', 'Supplies', 'Staple remover')
('OFF-SU-10000946', 'Office Supplies', 'Supplies', 'Staple remover')
('TEC-MA-10003230', 'Technology', 'Machines', 'Okidata C610n Printer')
('TEC-MA-10001856', 'Technology', 'Machines', 'Okidata C610n Printer')

There we go ! We see that there are duplicate products. The products have same categories, sub categories, and names but are assigned different product ids. 
We need to make their ids same. I do not have access to conversation with business owners, so I will be assigning them the product id based off on the first occurence of the product.

In [27]:
# making a lilst of all names I have to change the ids for
name_id = dict()
for row in data:
    if row[3] not in name_id:
        name_id[row[3]] = row[0]

for keys in name_id.keys():
    print(keys)

Eldon Wave Desk Accessories
Staple-based wall hangings
KI Adjustable-Height Table
Staple holder
Staples in misc. colors
Prang Drawing Pencil Set
Avery Non-Stick Binders
Storex Dura Pro Binders
#10- 4 1/8' x 9 1/2' Recycled Envelopes
Staple envelope
Peel & Seel Recycled Catalog Envelopes, Brown
Staples
Easy-staple paper
Staple magnet
Staple remover
Okidata C610n Printer

In [28]:
df["Product ID"] = df.apply(lambda row: name_id[row['Product Name']] if row['Product Name'] in name_id.keys() else row['Product ID'], axis=1)

In [29]:
df.nunique()

Order ID         4916
Order Date       1229
Ship Date        1326
Ship Mode           4
Customer ID       793
Customer Name     793
Segment             3
Country             1
City              529
State              48
Postal Code       626
Region              4
Product ID       1816
Category            3
Sub-Category       17
Product Name     1848
Sales            5750
dtype: int64

Now, we notice that we now have more number of unique product names than unique product ids. This means that some ids are also representing more than one name. We need to fix that too.

In [30]:
# list of unique product names
unique_names = list()

# We can not assess this using SQL because product id is our primary key and we can not have duplicate values
# therefore we will be using pandas for this
temp_df = pd.DataFrame(columns = product.columns)
for index, row in product.iterrows():
    if row['Product Name'] not in unique_names:
        unique_names.append(row['Product Name'])
        new_row = pd.DataFrame([row], columns = product.columns)
        temp_df = pd.concat([temp_df, new_row], ignore_index=True)

In [31]:
temp_df.head()

,Product ID,Category,Sub-Category,Product Name
0,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase
1,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,..."
2,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...
3,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table
4,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System

In [32]:
id_occ = dict()
for index, row in temp_df.iterrows():
    if row['Product ID'] not in id_occ:
        id_occ[row['Product ID']] = 1
    else:
        id_occ[row['Product ID']] += 1

target_ids = list()
for key in id_occ.keys():
    if id_occ[key] > 1:
        target_ids.append(key)

In [33]:
len(target_ids)

32

We have the list of ids which have more than 1 name assigned to them

In [34]:
count = 0
for index, row in product.iterrows():
    if row['Product ID'] in target_ids:
        count += 1

In [35]:
count

330

We have 330 rows of data which have been assigned the ids which have more than one products associated with it. We can substitute these IDS with madeup IDS of our own.

In [36]:
pairs = temp_df[['Product ID','Product Name']]
pairs = pairs[pairs['Product ID'].isin(target_ids)]

In [37]:
pairs

           Product ID                                       Product Name
28    FUR-FU-10004848  Howard Miller 13-3/4' Diameter Brushed Chrome ...
64    FUR-CH-10001146        Global Value Mid-Back Manager's Chair, Gray
68    OFF-BI-10004654  Avery Binding System Hidden Tab Executive Styl...
124   FUR-CH-10001146                           Global Task Chair, Black
127   OFF-PA-10002377                                         Xerox 1916
...               ...                                                ...
1689  OFF-PA-10001166                                         Xerox 1932
1719  FUR-FU-10004864                   Eldon 500 Class Desk Accessories
1723  OFF-PA-10003022  Standard Line “While You Were Out” Hardbound T...
1735  TEC-PH-10001795  RCA H5401RE1 DECT 6.0 4-Line Cordless Handset ...
1758  OFF-BI-10002026                  Ibico Recycled Linen-Style Covers

[64 rows x 2 columns]

In [38]:
id_name_map = dict()

count = 1
for index, row in pairs.iterrows():
    if row['Product Name'] not in id_name_map.keys():
        id_name_map[row['Product Name']] = str(count)+row['Product ID']
        count += 1

len(id_name_map.keys())

64

Now we have the map, let us change the dataframe

In [39]:
df["Product ID"] = df.apply(lambda row: id_name_map[row['Product Name']] if row['Product Name'] in id_name_map.keys() else row['Product ID'], axis=1)

In [40]:
df.nunique()

Order ID         4916
Order Date       1229
Ship Date        1326
Ship Mode           4
Customer ID       793
Customer Name     793
Segment             3
Country             1
City              529
State              48
Postal Code       626
Region              4
Product ID       1848
Category            3
Sub-Category       17
Product Name     1848
Sales            5750
dtype: int64

There we go! We have same number of Product IDs and Product Names! Everything else seems fine. This means, we can populate our Database now

In [41]:
# We can delete our temporary variables and dataframes now
del temp_df
del pairs
del unique_names
del unique_pid
del product
del id_name_map
del target_ids
del id_occ
del name_id
del data
del count

Is our Sales data consistent though?

In [42]:
df.head()

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
0,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
1,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
2,CA-2017-138688,12/06/2017,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680

Since our Customer data and Product data is consistent, we can remove it temporarily from the base table and assess it.

In [43]:
# creating a temporary dataframe for Sales

temp_sales = df[['Order ID', 'Order Date', 'Ship Date', 'Ship Mode', 'Customer ID', 'Product ID', 'Sales']]
temp_sales.head()

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Product ID,Sales
0,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,FUR-BO-10001798,261.9600
1,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,FUR-CH-10000454,731.9400
2,CA-2017-138688,12/06/2017,16/06/2017,Second Class,DV-13045,OFF-LA-10000240,14.6200
3,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,FUR-TA-10000577,957.5775
4,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,OFF-ST-10000760,22.3680

In [44]:
temp_sales[temp_sales.duplicated()]

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Product ID,Sales
3406,US-2015-150119,23/04/2015,27/04/2015,Standard Class,LB-16795,FUR-CH-10002965,281.372

There is a duplicated Sale data. It is most likely that it was recorded twice by accident. We can remove it.

In [45]:
temp_sales.drop_duplicates()

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Product ID,Sales
0,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,FUR-BO-10001798,261.9600
1,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,FUR-CH-10000454,731.9400
2,CA-2017-138688,12/06/2017,16/06/2017,Second Class,DV-13045,OFF-LA-10000240,14.6200
3,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,FUR-TA-10000577,957.5775
4,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,OFF-ST-10000760,22.3680
...,...,...,...,...,...,...,...
9795,CA-2017-125920,21/05/2017,28/05/2017,Standard Class,SH-19975,OFF-BI-10003429,3.7980
9796,CA-2016-128608,12/01/2016,17/01/2016,Standard Class,CS-12490,OFF-AR-10001374,10.3680
9797,CA-2016-128608,12/01/2016,17/01/2016,Standard Class,CS-12490,TEC-PH-10004977,235.1880
9798,CA-2016-128608,12/01/2016,17/01/2016,Standard Class,CS-12490,TEC-PH-10000912,26.3760
9799,CA-2016-128608,12/01/2016,17/01/2016,Standard Class,CS-12490,TEC-AC-10000487,10.3840

In [46]:
# Duplicate removed
temp_sales.duplicated().sum()

1

In [47]:
temp_sales.nunique()

Order ID       4916
Order Date     1229
Ship Date      1326
Ship Mode         4
Customer ID     793
Product ID     1848
Sales          5750
dtype: int64

In [48]:
len(temp_sales)

9789

We have 9788 Sales data, but only 4916 order IDs. This means that multiple products have been purchased under single Order ID as well. But we should still check it out.

In [49]:
sales_pk_map = dict()
for index, row in temp_sales.iterrows():
    pk = (row['Order ID'], row['Product ID'])
    if pk not in sales_pk_map.keys():
        sales_pk_map[pk] = 1
    else:
        sales_pk_map[pk] += 1

In [50]:
for key, value in sales_pk_map.items():
    if value > 1:
        print(key, value)

('CA-2017-129714', '13OFF-PA-10001970') 2
('US-2017-123750', 'TEC-AC-10004659') 2
('CA-2017-137043', 'FUR-FU-10003664') 2
('CA-2018-152912', 'OFF-ST-10003208') 2
('US-2015-150119', 'FUR-CH-10002965') 2
('CA-2016-103135', 'OFF-BI-10000069') 2
('CA-2018-118017', 'TEC-AC-10002006') 2
('CA-2017-140571', 'OFF-PA-10001954') 2

This means that Order ID and Product IDs are not unique together for 7 instances. Now, is customer ID also involved? Sales? Order date? Lets find out.

In [51]:

pk_combs = ['Customer ID', 'Sales', 'Order Date', 'Ship Date', 'Ship Mode']
for ele in pk_combs:
    print(f"For {ele} with Order ID and Product ID")
    sales_pk_map = dict()
    for index, row in temp_sales.iterrows():
        pk = (row['Order ID'], row[ele], row['Product ID'])
        if pk not in sales_pk_map.keys():
            sales_pk_map[pk] = 1
        else:
            sales_pk_map[pk] += 1

    for key, value in sales_pk_map.items():
        if value > 1:
            print(key, value)
    print("--------------------------------------------------")

For Customer ID with Order ID and Product ID
('CA-2017-129714', 'AB-10060', '13OFF-PA-10001970') 2
('US-2017-123750', 'RB-19795', 'TEC-AC-10004659') 2
('CA-2017-137043', 'LC-17140', 'FUR-FU-10003664') 2
('CA-2018-152912', 'BM-11650', 'OFF-ST-10003208') 2
('US-2015-150119', 'LB-16795', 'FUR-CH-10002965') 2
('CA-2016-103135', 'SS-20515', 'OFF-BI-10000069') 2
('CA-2018-118017', 'LC-16870', 'TEC-AC-10002006') 2
('CA-2017-140571', 'SJ-20125', 'OFF-PA-10001954') 2
--------------------------------------------------
For Sales with Order ID and Product ID
('US-2015-150119', 281.372, 'FUR-CH-10002965') 2
--------------------------------------------------
For Order Date with Order ID and Product ID
('CA-2017-129714', '01/09/2017', '13OFF-PA-10001970') 2
('US-2017-123750', '15/04/2017', 'TEC-AC-10004659') 2
('CA-2017-137043', '23/12/2017', 'FUR-FU-10003664') 2
('CA-2018-152912', '09/11/2018', 'OFF-ST-10003208') 2
('US-2015-150119', '23/04/2015', 'FUR-CH-10002965') 2
('CA-2016-103135', '24/07/2016', 'OFF-BI-10000069') 2
('CA-2018-118017', '03/12/2018', 'TEC-AC-10002006') 2
('CA-2017-140571', '15/03/2017', 'OFF-PA-10001954') 2
--------------------------------------------------
For Ship Date with Order ID and Product ID
('CA-2017-129714', '03/09/2017', '13OFF-PA-10001970') 2
('US-2017-123750', '21/04/2017', 'TEC-AC-10004659') 2
('CA-2017-137043', '25/12/2017', 'FUR-FU-10003664') 2
('CA-2018-152912', '12/11/2018', 'OFF-ST-10003208') 2
('US-2015-150119', '27/04/2015', 'FUR-CH-10002965') 2
('CA-2016-103135', '28/07/2016', 'OFF-BI-10000069') 2
('CA-2018-118017', '06/12/2018', 'TEC-AC-10002006') 2
('CA-2017-140571', '19/03/2017', 'OFF-PA-10001954') 2
--------------------------------------------------
For Ship Mode with Order ID and Product ID
('CA-2017-129714', 'First Class', '13OFF-PA-10001970') 2
('US-2017-123750', 'Standard Class', 'TEC-AC-10004659') 2
('CA-2017-137043', 'Second Class', 'FUR-FU-10003664') 2
('CA-2018-152912', 'Second Class', 'OFF-ST-10003208') 2
('US-2015-150119', 'Standard Class', 'FUR-CH-10002965') 2
('CA-2016-103135', 'Standard Class', 'OFF-BI-10000069') 2
('CA-2018-118017', 'Second Class', 'TEC-AC-10002006') 2
('CA-2017-140571', 'Standard Class', 'OFF-PA-10001954') 2
--------------------------------------------------

Aha ! Order ID and Product ID paired up with Sales gives us unique entries for every data except 1. We can change the Order ID for the second occurence to accommodate for it.

In [52]:
# updating primary key
cursor.execute("ALTER TABLE Sales DROP PRIMARY KEY")
cursor.execute("ALTER TABLE Sales ADD PRIMARY KEY (order_id, product_id, sales)")

In [53]:
def change_name(count, name):
    if count[0] == 0:
        count[0] += 1
        return name
    else:
        return "second-" + name

In [54]:
# changing the duplicate row's Order ID to a unique value
o_id = "US-2015-150119"
p_id = "FUR-CH-10002965"
count = [0]

df["Order ID"] = df.apply(lambda row: change_name(count, row['Order ID']) if row['Order ID'] == o_id and row['Product ID'] == p_id else row['Order ID'], axis=1)

It should be good now. We are ready to go ahead and populate the table.

In [55]:
# delete the temporary vars
del temp_sales
del o_id
del p_id
del count

# Database Population
Let us one by one populate our data tables

In [56]:
df.columns

Index(['Order ID', 'Order Date', 'Ship Date', 'Ship Mode', 'Customer ID',
       'Customer Name', 'Segment', 'Country', 'City', 'State', 'Postal Code',
       'Region', 'Product ID', 'Category', 'Sub-Category', 'Product Name',
       'Sales'],
      dtype='object')

In [57]:
# we will create a function to parse the date to YYYY-MM-DD format for better consistency, compatibility, and assessibility in SQL

def parse_date(date):
    date = date.split("/")
    if len(date[0]) == 1:
        date[0] = "0"+date[0]
    if len(date[1]) == 1:
        date[1] = "0"+date[1]
    
    return f"{date[2]}-{date[1]}-{date[0]}"

In [58]:
# Since our Base data is now consistent, we can start inserting data into all the tables
customer_unique_id = set()
product_unique_id = set()

# Deleting all the rows from tables
cursor.execute("DELETE FROM Sales")
cursor.execute("DELETE FROM Customers")
cursor.execute("DELETE FROM Products")

for index,row in df.iterrows():
    # Inserting data into Customers table
    if row['Customer ID'] not in customer_unique_id:
        customer_unique_id.add(row['Customer ID'])
        cursor.execute(f"""
                        INSERT INTO Customers (customer_id, customer_name, segment, city, state, country, postal, region)
                        VALUES ('{row['Customer ID']}', "{row['Customer Name']}", '{row['Segment']}', '{row['City']}', '{row['State']}', '{row['Country']}', {row['Postal Code']}, '{row['Region']}');
                    """)
    
    # Inserting data into Products table
    if row['Product ID'] not in product_unique_id:
        product_unique_id.add(row['Product ID'])
        cursor.execute(f"""
                        INSERT INTO Products (product_id, category, sub_category, product_name)
                        VALUES ('{row['Product ID']}', '{row['Category']}', '{row['Sub-Category']}', "{row['Product Name']}");
                    """)
        
    # Inserting data into Sales table
    o_date = parse_date(row['Order Date'])
    s_date = parse_date(row['Ship Date'])
    cursor.execute(f"""
                    INSERT INTO Sales (order_id, order_date, ship_date, ship_method, customer_id, product_id, sales)
                    VALUES ('{row['Order ID']}', '{o_date}', '{s_date}', '{row['Ship Mode']}', '{row['Customer ID']}', '{row['Product ID']}', {round(row['Sales'],2)});
                    """)

In [59]:
# printing SQL tables
def print_table(data):
    for i in range(5):
        print(data[i])

In [60]:
cursor.execute("SELECT * FROM Sales")
data = cursor.fetchall()
print_table(data)
print("--------------------------------------------------")

cursor.execute("SELECT * FROM Customers")
data = cursor.fetchall()
print_table(data)
print("--------------------------------------------------")

cursor.execute("SELECT * FROM Products")
data = cursor.fetchall()
print_table(data)

('CA-2015-100006', datetime.date(2015, 9, 7), datetime.date(2015, 9, 13), 'Standard Class', 'DK-13375', 'TEC-PH-10002075', 377.97)
('CA-2015-100090', datetime.date(2015, 7, 8), datetime.date(2015, 7, 12), 'Standard Class', 'EB-13705', 'FUR-TA-10003715', 502.49)
('CA-2015-100090', datetime.date(2015, 7, 8), datetime.date(2015, 7, 12), 'Standard Class', 'EB-13705', 'OFF-BI-10001597', 196.7)
('CA-2015-100293', datetime.date(2015, 3, 14), datetime.date(2015, 3, 18), 'Standard Class', 'NF-18475', 'OFF-PA-10000176', 91.06)
('CA-2015-100328', datetime.date(2015, 1, 28), datetime.date(2015, 2, 3), 'Standard Class', 'JC-15340', 'OFF-BI-10000343', 3.93)
--------------------------------------------------
('AA-10315', 'Alex Avila', 'Consumer', 'Minneapolis', 'Minnesota', 'United States', 55407, 'Central')
('AA-10375', 'Allen Armold', 'Consumer', 'Mesa', 'Arizona', 'United States', 85204, 'West')
('AA-10480', 'Andrew Allen', 'Consumer', 'Concord', 'North Carolina', 'United States', 28027, 'South')
('AA-10645', 'Anna Andreadi', 'Consumer', 'Chester', 'Pennsylvania', 'United States', 19013, 'East')
('AB-10015', 'Aaron Bergman', 'Consumer', 'Seattle', 'Washington', 'United States', 98103, 'West')
--------------------------------------------------
('10TEC-AC-10003832', 'Technology', 'Accessories', 'Logitech\xa0P710e Mobile Speakerphone')
('11OFF-ST-10001228', 'Office Supplies', 'Storage', 'Fellowes Personal Hanging Folder Files, Navy')
('12FUR-FU-10004091', 'Furniture', 'Furnishings', "Howard Miller 13' Diameter Goldtone Round Wall Clock")
('13OFF-PA-10001970', 'Office Supplies', 'Paper', 'Xerox 1881')
('14OFF-PA-10001970', 'Office Supplies', 'Paper', 'Xerox 1908')

In [61]:
# closing the connection
conn.commit()
cursor.close()
conn.close()

We are Done ! Our ETL Process is complete. 
1. Extraction: Done 
2. Transformation: Done 
3. Load: Done

# Data Analysis
 We will start the process of data analysis now. I have completed most of the process using SQL. I will be using Python to figure out RFM for each customer which will help us understand the customer pool of our business and help us make sound decisions.

What is RFM? RFM stands for:
1. Recency: How long has it been since customer bought something
2. Frequency: How frequent does the customer buy stuff
3. Monetary Value: How much monetary value does the customer contribute

In [62]:
# creating a temporary dataframe 
temp_df = df[['Customer ID', 'Customer Name', 'Order Date', 'Sales']]
temp_df['Order Date'] = pd.to_datetime(temp_df['Order Date'], format='%d/%m/%Y')

C:\Users\jdham\AppData\Local\Temp\ipykernel_5156\1402600313.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['Order Date'] = pd.to_datetime(temp_df['Order Date'], format='%d/%m/%Y')

In [63]:
temp_df = temp_df.sort_values('Order Date', ascending=True)
print(temp_df.head())

     Customer ID  Customer Name Order Date    Sales
7980    DP-13000  Darren Powers 2015-01-03   16.448
741     PO-19195  Phillina Ober 2015-01-04    3.540
740     PO-19195  Phillina Ober 2015-01-04  272.736
739     PO-19195  Phillina Ober 2015-01-04   11.784
1759    MB-18085     Mick Brown 2015-01-05   19.536

In [64]:
customers_order_dates = dict()

for index, row in temp_df.iterrows():
    date = row['Order Date']
    c_id = row['Customer ID']
    if c_id not in customers_order_dates.keys():
        customers_order_dates[c_id] = [date]
    else:
        if date not in customers_order_dates[c_id]:
            customers_order_dates[c_id].append(row['Order Date'])

In [65]:
def calculate_rate(dates):
    freq = list()
    for i in range(1,len(dates)):
        freq.append((dates[i] - dates[i-1]).days)
    return freq

In [66]:
customers_rate = dict()

for key in customers_order_dates.keys():
    customers_rate[key] = calculate_rate(customers_order_dates[key])

In [67]:
for key, value in customers_rate.items():
    print(key, value)

DP-13000 [471, 220, 172, 183, 110, 71, 104]
PO-19195 [630, 56, 9, 675]
MB-18085 [796, 59, 118, 233, 11, 194]
ME-17320 [530, 283, 6, 63, 297, 74, 151, 3, 5]
JO-15145 [201, 98, 26, 408, 202, 171, 284, 7]
LS-17230 [527, 151]
VS-21820 [503, 229, 500]
MS-17830 [561, 137, 301]
AJ-10780 [294, 58, 142, 559, 167, 155]
SV-20365 [99, 282, 501, 99, 53, 250, 19, 19, 26]
MM-17920 [226, 136, 468, 136, 89, 58, 217, 106, 4]
BD-11605 [515, 198, 107, 262, 268]
ND-18370 [292, 255, 296, 198, 120, 28, 188, 43]
CS-12250 [25, 294, 37, 304, 17, 220, 86, 123, 258, 46, 11]
BS-11590 [223, 102, 276, 376, 434]
EH-13990 [128, 185, 306, 187, 234]
DL-13315 [21, 11, 930, 97, 24, 326, 13]
DW-13195 [168, 45, 824, 306, 30]
TS-21340 [232, 184, 259, 540]
HL-15040 [112, 774, 101, 365, 45]
MM-18280 [491, 120, 83, 90, 198, 255, 100, 18]
MV-17485 [432, 90, 274, 163, 154, 46, 245, 9]
XP-21865 [251, 8, 433, 257, 67, 2, 337, 3, 36, 3]
IM-15055 [1028]
SD-20485 [70, 159, 28, 201, 125, 384, 208, 59]
CA-11965 [435, 230, 397, 34, 242]
EJ-13720 [323, 241, 567]
JC-15340 [951, 99, 268]
MV-18190 [400, 127, 342, 157, 10, 375]
LC-17050 [275, 459, 583, 58]
BD-11500 [255, 338, 98, 399, 303]
CD-12790 [328, 269, 389, 42]
EB-13930 [756, 80, 157, 273]
TB-21400 [216, 98, 487, 350, 73]
DB-13270 [445, 220, 255, 112, 9, 190, 141]
MH-17440 [41, 694, 314]
ND-18460 [225, 298, 675, 22, 20]
CK-12760 [305, 230, 42, 148, 18, 267, 135, 195]
NM-18445 [59, 15, 195, 201, 2, 789]
GA-14725 [47, 275, 80, 210, 17, 426, 70, 166, 78, 44]
NF-18385 [673, 246, 39, 329, 52]
SC-20095 [20, 182, 21, 61, 351, 189, 70, 174]
ST-20530 [150, 71, 97, 63, 841, 68]
ML-17395 [101, 70, 70, 348, 345, 63, 94, 255]
BF-11020 [623, 250, 26, 242, 160, 10, 29]
MN-17935 [145, 674, 271, 276, 13]
AB-10015 [17, 979]
TB-21595 [770, 275, 81]
LC-16930 [821, 75, 22, 16, 272, 92, 70]
SR-20740 [258, 11, 50, 179, 275, 203, 237]
TM-21010 [68, 100, 297, 104, 495, 241]
SA-20830 [249, 180, 61, 544, 87, 15, 6, 40, 162]
MG-17875 [485, 92, 351, 362]
JH-15430 [1364, 1, 35]
JS-16030 [873, 93, 119, 245, 44]
GW-14605 [148, 420, 150, 247, 281, 126]
DB-13060 [112, 636, 80, 466, 90]
SC-20380 [498, 44, 398, 130, 38, 67, 121, 74]
HR-14770 [527, 606, 254]
VF-21715 [146, 1032, 47, 162]
KN-16705 [14, 582, 277, 324, 78, 26]
JS-15595 [419, 548, 312]
EJ-14155 [1004, 164, 113, 60]
AJ-10945 [456, 180, 16, 339, 286]
SC-20020 [30, 79, 143, 366]
AP-10720 [630, 182, 108, 11, 426]
CL-12565 [130, 52, 8, 477, 129, 20, 109, 50, 46, 88, 4]
AB-10150 [555, 143, 581, 76]
CM-12715 [203, 14, 143]
NP-18685 [445, 130, 65, 348]
KT-16480 [59, 4, 538, 314, 231, 31, 25, 57, 32]
SW-20275 [976, 128, 243, 5, 9]
FM-14215 [94, 667, 32, 52, 62, 17, 186, 35, 238]
RB-19435 [213, 45, 1, 125, 95, 870]
CK-12205 [97, 42, 244, 188, 246, 41, 7, 121, 172, 87, 11, 95]
KA-16525 [346, 235, 443, 152, 174, 4]
RB-19465 [177, 549, 57, 15, 45, 48, 8, 297, 120, 57, 5]
NF-18475 [201, 272, 389]
JF-15295 [760, 201, 197, 4]
DK-13225 [612, 18, 99, 113, 60, 86, 215, 174]
CK-12325 [80, 676, 315, 196]
AS-10240 [210, 170, 453, 361]
CP-12340 [601, 195, 27, 119, 192, 90]
BN-11515 [184, 610, 470, 111]
AZ-10750 [8, 394, 20, 269, 533]
QJ-19255 [76, 519, 160, 188, 54, 143]
SM-20320 [522, 126, 561, 95]
SC-20050 [440, 245, 133, 164, 138, 145, 27, 51]
EK-13795 [622, 20, 697]
MC-17605 [257, 351, 369, 64, 95, 11, 123]
KH-16690 [429, 156, 42, 217, 338, 196]
TS-21205 [80, 110, 51, 22, 601, 318]
GM-14440 [275, 713, 113, 27, 98, 71]
CB-12025 [241, 281, 4, 526, 214, 4, 63]
VM-21835 [726, 56, 33, 447]
CC-12685 [293, 249, 39]
BF-11275 [1206, 116]
PO-18865 [211, 698, 253, 69, 142, 5]
BG-11740 [453, 438, 7, 223, 200]
CD-11920 [614, 397, 148, 178]
MS-17710 [11, 347, 161, 275, 170]
CA-12265 [276, 263, 146, 511, 81, 27, 16]
DK-12835 [242, 76, 267, 145, 118, 141, 136, 72, 66, 42, 49]
CS-12505 [413, 493, 57, 12, 342]
JD-15895 [18, 98, 511, 44, 165, 7, 51, 53, 3, 31]
CV-12295 [158, 733, 202, 26]
DR-12940 [368, 155, 117, 281, 56, 255, 91]
MG-18145 [524, 692, 72]
KM-16720 [2, 17, 99, 426, 61, 146, 592]
MP-17470 [66, 166, 330, 52, 39]
Dl-13600 [93, 646, 427, 86]
SG-20890 [855, 290]
NC-18340 [35, 336, 599, 177]
KB-16240 [587, 91, 520, 75, 93]
TG-21640 [436, 101, 719]
AA-10315 [168, 385, 150, 483]
JO-15280 [259, 323, 59, 109, 528]
DD-13570 [274, 601, 253, 84, 117]
KH-16330 [34, 199, 585, 21, 336, 151, 3]
RD-19585 [320, 255, 11, 35, 344, 68, 155]
AH-10690 [398, 11, 82, 99, 49, 139, 11, 62, 6, 59, 42]
KB-16585 [135, 121, 85, 51, 127, 71, 57, 241, 92, 93, 63]
PK-18910 [883]
MZ-17515 [221, 327, 28, 223, 285]
GM-14695 [899, 349]
TH-21550 [407, 68, 60, 643, 56, 59]
RD-19900 [219, 9, 124, 65, 393, 93, 53, 295]
JG-15805 [185, 42, 364, 222, 329]
FH-14275 [198, 699, 54, 121, 61, 51, 69, 61, 13]
GP-14740 [600]
SC-20260 [161, 62, 63, 74, 153, 577, 87]
AY-10555 [264, 723, 363]
PJ-19015 [835, 50, 248, 37, 59]
RS-19765 [243, 212, 605, 78, 112, 37, 40]
VM-21685 [574, 311, 189, 122, 113]
JM-15655 [935, 44, 319, 56]
JS-15880 [623, 53, 30, 122]
PC-19000 [481]
RA-19885 [228, 261, 342, 436, 40]
JK-15370 [364, 254, 341, 255, 6, 95]
MM-18055 [45, 400, 144, 534, 68, 55, 52]
GM-14455 [264, 461, 14, 474, 130]
SE-20110 [164, 64, 138, 297, 129, 89, 186, 167, 78, 38]
KN-16450 [248, 206, 171, 681]
SV-20785 [51, 4, 15, 317, 170, 218, 263]
BF-11170 [90, 165, 141, 13, 250, 76, 13, 194, 116, 283]
PS-18970 [381, 11, 203, 160, 316, 197, 18]
SP-20650 [111, 90, 210, 281, 6, 153, 90, 27]
JL-15835 [80, 74, 455, 134, 278, 51, 111, 16, 132]
NF-18595 [143, 186, 22, 29, 837, 20]
AG-10390 [137, 809, 11, 280]
BP-11230 [376, 512, 82, 341]
DB-13555 [152, 21, 873, 65, 125, 6]
AA-10375 [186, 102, 95, 189, 239, 127, 297, 95]
AH-10030 [21, 165, 67, 362, 83, 638]
LB-16795 [862, 35, 36, 2, 18, 159, 83]
TS-21160 [359, 4, 317, 114, 49]
DA-13450 [138, 16, 839]
BT-11305 [500, 86, 21, 402]
LC-16885 [32, 386, 157, 8, 13, 188, 118, 70, 172, 157, 28]
AG-10300 [573, 381, 272]
MH-17290 [512, 268, 198, 72]
DS-13180 [469, 12, 14, 204, 246, 16, 107, 251]
MY-18295 [210, 494, 14, 188, 1, 42, 153, 122, 47]
GB-14530 [502, 7, 48, 30, 154, 55, 58, 102, 113, 211]
AI-10855 [12, 233, 76, 281, 325, 176, 127, 93, 6]
KH-16360 [22, 773, 28, 247, 270]
LL-16840 [353, 49, 623, 67]
HG-14845 [503, 553, 203, 28]
LA-16780 [73, 298, 53, 197, 138, 113, 7, 61, 29, 218]
JM-16195 [125, 166, 126, 138, 206, 168, 271, 26, 57]
CS-11860 [59, 477, 591, 40, 9]
AR-10510 [21, 466, 482, 355]
JS-15940 [141, 118, 505, 110]
NC-18415 [238, 113, 52, 492, 401]
AA-10480 [805, 40, 232]
PM-18940 [260, 690]
BS-11365 [107, 31, 575, 65]
PF-19120 [338, 69, 94]
EB-13870 [187, 197, 47, 78, 373, 67, 52, 39, 195]
GD-14590 [860, 265, 205]
SN-20710 [571, 30, 139, 134, 53, 328]
HP-14815 [202, 342, 22, 11, 416, 311]
CT-11995 [227, 270, 332, 105, 190, 25, 88]
PG-18820 [73, 273, 99, 203, 21, 31, 146, 57, 21, 315, 43, 13]
SB-20290 [121, 12, 358, 433, 295, 65]
GM-14680 [93, 668, 113, 1, 303]
AF-10885 [125, 397, 393]
HD-14785 [393, 168]
RM-19375 [41, 528, 129, 90]
BG-11695 [239, 511, 211, 270, 62]
PG-18895 [490, 96, 36, 90, 417, 7, 128, 8]
VW-21775 [65, 171, 35, 215, 408, 3, 110, 279, 15]
NP-18325 [39, 31, 384, 119, 729]
AG-10270 [71, 425, 358, 195]
EH-14005 [208, 508, 402, 110, 70, 27]
AJ-10795 [229, 373, 17, 233, 105, 203]
CC-12475 [717, 158, 28, 3, 273, 35, 19, 52]
PW-19030 [263, 566, 53, 49, 22, 87, 98, 39, 101]
PA-19060 [290, 227, 377, 30, 296]
BS-11755 [77, 427, 423, 131, 166, 97]
TT-21070 [113, 159, 51, 401, 551, 16]
TD-20995 [462, 151, 457, 53, 23, 1, 125, 12]
JH-15820 [314, 159, 79, 432, 163]
MC-17590 [189, 600, 57, 102, 321]
RF-19345 [119, 75, 13, 193, 254, 269, 7]
MW-18235 [1275]
BT-11530 [215, 397, 400, 216]
FG-14260 [180, 966, 71, 13, 13, 42]
EH-14185 [156, 28, 499, 270, 260]
GT-14710 [178, 162, 298, 114, 176, 159, 44, 55, 95]
RP-19390 [112, 51, 28, 23, 3, 65, 37, 178, 321, 245, 220]
JL-15235 [555, 187, 327, 127]
BW-11065 [444, 659]
HF-14995 [118, 566, 22, 125, 85, 377]
Dp-13240 [138, 395, 34, 33, 516, 68, 16, 8, 17, 5]
LE-16810 [203, 179, 341, 368, 201]
MH-17785 [126, 49, 363, 35, 80, 562]
PJ-18835 [536, 172, 182, 197, 168, 18]
MM-17260 [844, 146, 154]
MC-17425 [548, 229, 1, 133]
EB-13840 [197, 722, 301]
LW-16825 [32, 147, 761, 282]
SS-20410 [100, 69, 372, 658, 1]
JG-15160 [22, 326, 221, 217, 65, 69, 173, 80, 136]
JK-15625 [29, 51, 111, 243, 140, 674]
CR-12625 [83, 755]
DW-13480 [586, 225, 84, 196]
LT-17110 [509, 11, 40, 91, 251, 299, 73]
SC-20725 [157, 235, 49, 25, 15, 126, 133, 203, 79, 97]
RB-19795 [418, 264, 52, 201, 140, 145, 54]
BT-11440 [172, 482, 91]
GT-14635 [518, 729]
SB-20170 [979, 123]
BM-11785 [88, 103, 97, 189, 8, 195, 89, 169, 147]
VT-21700 [304]
NR-18550 [102, 593, 168, 229]
BP-11095 [124, 29, 42, 95, 125, 458, 116, 54, 162, 67, 13]
KE-16420 [26, 333, 45, 436, 414, 21]
CS-11950 [163, 312, 187, 3, 153, 48, 198, 74, 96, 42]
RD-19480 [381, 174, 80, 272, 170, 118, 34]
BH-11710 [155, 89, 288, 101, 317, 124, 203]
CM-12445 [840, 24]
CW-11905 [228, 129, 522, 190, 209]
FO-14305 [239, 34, 198, 404, 59, 161, 11, 148, 8]
HK-14890 [503, 22, 158, 183, 154, 69, 59]
SR-20425 [1038, 199, 6, 44]
KL-16555 [194, 637, 44, 55, 202, 106, 40]
PS-18760 [346, 287, 204, 200, 150]
SC-20575 [481, 679, 41]
GH-14425 [538, 5, 699]
DB-13660 [510, 418, 59, 25, 182, 86]
MC-18100 [180, 116, 138, 114, 9, 285, 330, 58, 20]
Co-12640 [162, 28, 219, 331]
TB-21280 [1, 162, 418, 62, 62]
NW-18400 [158, 164, 130, 67, 347, 250]
AA-10645 [162, 352, 229, 62, 427]
DV-13465 [506, 305, 274, 173]
JE-15745 [157, 152, 25, 147, 37, 321, 13, 41, 136, 61, 98, 48]
DL-13330 [517, 341, 371]
BS-11665 [513, 191]
LP-17080 [871, 181, 193]
NS-18640 [258, 151, 74, 19, 86, 312, 6, 119, 51, 34]
GK-14620 [18, 338, 59, 99, 154, 239, 7, 258]
LM-17065 [238, 302, 231, 120]
CA-12775 [78, 316, 138, 365, 152, 112]
RW-19630 [186, 430, 147, 120, 12, 4, 121, 172]
DL-12865 [108, 402, 99, 64, 262, 245]
HA-14905 [497, 5, 29, 282, 355, 42]
MS-17980 [224, 36, 143, 120, 730]
RA-19915 [92, 32, 179, 83, 116, 314, 329, 122]
AR-10825 [252, 463, 83, 97, 221, 1, 104]
BD-11620 [617, 207, 85, 6, 295]
EH-13945 [374, 157, 33, 307, 7, 177, 5]
MS-17770 [46, 76, 24, 183, 145, 307, 79, 294]
MC-17845 [168, 688, 37, 331, 30, 19]
DP-13390 [65, 104, 94, 47, 379, 150, 72, 5]
DC-12850 [70, 188, 370, 437, 18, 52, 36, 66]
DM-13525 [434, 359]
EP-13915 [252, 99, 477, 7, 10, 8, 20, 36, 62, 184, 65, 4, 1, 16, 15, 5]
BC-11125 [69, 281, 288, 112, 18, 35, 245, 23]
EB-13705 [160, 107, 185, 156, 99, 328, 165, 23]
MH-18025 [383, 580, 230, 29]
BM-11650 [74, 2, 382, 42, 311, 178, 50, 180, 7, 11]
DS-13030 [927, 73, 177]
GH-14410 [25, 362, 375, 27, 165, 109, 24, 108]
MH-17455 [162, 108, 598, 15, 65, 150]
AC-10420 [592, 443]
ME-17725 [302, 138, 325, 188, 130, 154, 2]
PV-18985 [591, 112, 270, 205]
AW-10930 [488, 211, 117, 42, 286, 75]
SS-20515 [376, 398]
BF-10975 [18, 317, 22, 1, 502, 314]
PB-19150 [138, 1, 12, 32, 155, 302, 528]
JL-15130 [45, 601, 352, 17, 238]
AH-10120 [713, 171, 111, 85, 46, 75]
CA-12310 [534, 705, 8]
EM-14140 [232, 449, 32, 179, 320]
SW-20245 [471, 33, 97, 191, 159, 227]
CC-12145 [194, 221, 3, 332, 18, 385]
RD-19720 [20, 85, 415, 140, 195, 12, 107, 9, 255]
KM-16375 [164, 171, 170, 231, 99, 111, 257]
HM-14860 [502, 20, 139, 138, 199, 112, 76, 70]
ME-18010 [155, 150, 861]
EM-14065 [753, 295, 162]
JL-15850 [228, 27, 23, 34, 331]
AB-10255 [291, 209, 205, 119, 58, 164, 14, 31]
AG-10900 [410, 8, 97, 8, 141, 205, 144, 125, 22]
NC-18535 [28, 832, 123, 223, 29, 15]
KL-16645 [17, 316, 136, 8, 191, 12, 57, 151, 101, 44, 174]
LF-17185 [133, 18, 72, 594, 119, 295]
CL-11890 [859, 191, 97]
SG-20470 [125, 116, 58, 40, 95, 324, 312]
AS-10045 [610, 181, 99, 211, 34, 29]
BB-10990 [464, 150, 426, 107]
TS-21430 [104, 654, 79, 240]
IL-15100 [189, 242, 62, 229, 43, 340]
AS-10630 [128, 271, 384, 176, 44, 152]
NZ-18565 [385, 314, 9, 63, 70, 161, 97, 62]
BK-11260 [125, 104, 602, 315, 22]
VD-21670 [208, 119, 128, 4, 204]
RS-19420 [643, 244, 188, 92]
SS-20590 [252, 391, 35, 81, 52]
CS-12130 [413, 90, 251]
GZ-14470 [34, 433, 36, 87, 259, 156, 134, 97]
RF-19735 [256, 91, 345, 59, 337, 65]
TB-21625 [296, 150, 67, 128, 126, 256, 176, 13]
MA-17560 [44, 51, 382, 4, 9, 251, 5, 422, 1, 7]
LR-16915 [480, 34, 242, 100, 358]
MB-17305 [413, 11, 3, 78, 324, 222, 9, 98, 34]
VG-21790 [108, 621, 176, 160, 21]
MG-17650 [838, 18, 94, 165, 45, 50]
AG-10525 [24, 370, 1]
ED-13885 [106, 345, 48, 308, 59, 59, 179]
GM-14500 [230, 184, 26, 196, 4, 47, 390, 30, 26]
JH-15985 [172, 322, 264, 61, 391]
DH-13675 [108, 298, 55]
CS-12175 [614, 162, 192, 36]
BW-11200 [49, 758, 224, 2]
CS-12355 [313, 73, 194, 393, 63, 21, 128, 5, 37]
KH-16510 [51, 76, 181, 862, 41]
TS-21610 [755, 8, 268, 4, 119, 23]
DJ-13510 [740, 169, 78, 8, 127, 52, 9]
LH-16900 [13, 12, 55, 414, 177, 171, 227, 139]
CR-12730 [662, 71, 417]
DE-13255 [75, 165, 159, 109]
JP-15520 [79, 82, 564, 19, 460, 14]
JF-15415 [227, 203, 686, 108]
RB-19645 [1, 90, 392, 94]
AP-10915 [37, 25, 18, 522, 201, 37, 138, 129, 20]
RH-19495 [343, 742, 40, 68]
JP-15460 [405, 289, 36, 62, 112, 283]
DW-13585 [309, 405, 50, 129, 71, 18]
JM-15265 [280, 537, 22, 347]
RC-19960 [103, 709, 301]
JE-15715 [180, 245, 258, 56, 114, 172, 71, 81]
MW-18220 [26, 60, 229, 166, 374, 351]
PP-18955 [13, 21, 264, 17, 161, 53, 278, 189, 129]
FM-14290 [225, 426, 159, 40, 192, 124, 2, 18]
KB-16315 [123, 35, 14, 104, 1, 34, 431, 184]
ZD-21925 [585, 32, 64, 338]
CC-12610 [338, 39, 193, 124, 81, 412]
RA-19945 [364, 105, 554, 135]
HH-15010 [1147]
AT-10735 [65, 386, 188, 48, 54, 252, 49, 25, 138]
SJ-20500 [39, 773, 11, 141]
LT-16765 [254, 936]
KD-16345 [102, 342, 31, 544, 155]
MR-17545 [34, 1005, 50]
NP-18700 [98, 10, 599, 85, 233, 49]
PR-18880 [219, 252, 610, 95]
VP-21760 [30, 64, 172, 170, 223, 477]
DK-13375 [456, 6, 217, 5, 370, 108, 29]
LR-17035 [366, 384, 300, 28]
SZ-20035 [58, 221, 192, 255, 20, 130, 154, 5, 119, 21]
BM-11140 [725, 93, 84]
KT-16465 [9, 9, 455, 87, 24, 234]
LH-17020 [153, 635, 182]
MC-17275 [187, 178, 17, 59, 61, 59, 572]
KC-16255 [314, 166, 153, 17, 152]
SP-20620 [113, 7, 252, 450, 262, 11, 2, 65]
LC-17140 [449, 128, 78, 181, 260, 13, 86]
DL-12925 [53, 189, 137, 20, 752]
CC-12220 [25, 41, 175, 300, 25, 102, 85, 268, 143, 24]
RR-19525 [453, 10, 75, 147, 353]
MS-17365 [13, 46, 119, 274, 20, 42, 286, 9, 126]
SF-20065 [338, 104, 10, 376, 212, 108]
LW-17125 [786, 215]
BN-11470 [217, 697, 267]
PT-19090 [724, 410]
TA-21385 [721, 214, 201]
LW-17215 [613, 123, 51, 155, 144, 98]
JM-15535 [217, 91, 274, 251, 262, 7]
ON-18715 [52, 28, 167, 88, 42, 158, 10, 249]
EA-14035 [83, 170, 187, 82, 5, 111, 8, 12, 8, 294, 92]
JC-15775 [98, 302, 301, 222, 7, 48, 42, 25]
DM-13015 [298, 301, 123, 353, 60, 11]
AJ-10960 [107, 1022]
JB-15400 [230, 125, 154, 169, 392, 63, 19, 44]
MF-18250 [183, 146, 95, 771]
JA-15970 [56, 659, 182, 74, 115, 15, 7]
AG-10765 [266, 153, 704]
FA-14230 [143, 144, 70, 50, 386, 308]
MC-18130 [182, 233, 125, 289]
JK-15640 [4, 175, 44, 226, 4, 3, 7, 555]
DN-13690 [18, 4, 557, 66, 179, 156]
SB-20185 [209, 36, 126, 625, 13]
MA-17995 [23, 412, 342, 2, 232]
PF-19165 [342, 30, 277, 132, 220]
ES-14020 [213, 417, 461, 66]
HG-14965 [6, 238, 92, 38, 71, 47, 4, 324, 103, 218, 33]
SL-20155 [12, 178, 106, 805, 25]
LH-16750 [947, 98]
JG-15115 [17, 422]
AS-10090 [93, 321, 174, 50, 82, 202, 168, 77]
VG-21805 [549, 49, 106]
TT-21220 [196, 124, 83, 197, 173, 134, 104]
JP-16135 [285, 250, 237, 35, 22, 52, 81, 130]
TH-21115 [573, 81, 482]
JD-16060 [181, 712]
BF-11005 [588, 84, 481]
MT-18070 [395, 291, 303]
KF-16285 [531, 368, 26, 84, 72, 13]
NB-18580 [26]
CS-12400 [372, 220, 179, 153, 151, 10, 59, 45]
TH-21100 [58, 141, 391, 256]
KD-16495 [407, 23, 9, 4, 276, 77, 14, 14, 25, 201, 27]
GZ-14545 [903, 83, 46]
LD-17005 [602, 168, 4]
EB-14170 [18, 147, 261, 342, 338]
SM-20950 [33, 49, 252, 113, 44, 233, 36, 214, 51, 138]
KW-16570 [201, 111, 105]
DB-13615 [337, 402, 61, 149, 138, 67]
DM-12955 [70, 123, 164, 181, 192, 343]
ES-14080 [148, 405, 98, 77, 81, 67, 207, 74]
DO-13435 [178, 148, 95, 170, 319, 63, 24, 54]
AR-10405 [302, 658, 30, 69]
RD-19930 [296, 624, 222]
BP-11290 [557, 49, 51, 172, 319, 24]
JD-16015 [2, 69, 883, 57, 60]
DF-13135 [449, 35]
BD-11635 [427, 746]
AM-10360 [169, 480, 316, 188]
FC-14335 [150, 22, 46, 304, 327, 144]
TN-21040 [333, 227, 36, 121, 81, 289]
HA-14920 [289, 4, 39, 336, 65, 333, 90]
JF-15565 [121, 137, 236, 173, 34, 40, 381]
BP-11050 [775, 24, 89, 204]
ZC-21910 [77, 106, 12, 141, 15, 161, 12, 19, 398, 31, 8, 140]
SP-20545 [518, 12, 26, 171, 120]
TC-21295 [67, 537, 331, 69, 122, 1, 19]
JE-15610 [241, 345, 313, 175, 48, 3]
HG-15025 [213, 456, 49, 254, 161, 34]
AC-10660 [519, 102, 87, 182]
LS-17245 [41, 391, 157, 19, 529]
TB-21520 [4, 66, 266, 9, 23, 108, 534, 53]
EH-13765 [328, 184, 76, 5, 114, 36, 54, 30, 207]
AS-10225 [199, 577, 289, 82]
IG-15085 [174, 434, 490]
LS-17200 [39, 728, 206, 44, 56]
RP-19270 [292, 129, 251]
JF-15490 [69, 283, 27, 36, 54, 112, 243, 100, 123]
EH-14125 [174, 231, 132, 42, 4, 118, 133, 142, 40]
FH-14365 [151, 229, 393, 217, 16, 69, 87]
LS-16975 [37, 296, 28, 288, 99, 371, 16, 12]
SF-20965 [74, 258, 18, 55, 336, 284, 48, 45]
MG-17680 [389, 571, 113]
DB-12910 [525, 161, 24, 179, 164, 82, 7]
AH-10585 [690, 294, 156]
RD-19810 [475, 114, 87, 116, 38, 269, 47]
TS-21370 [257, 48, 621, 147, 50]
BT-11395 [122, 46, 230, 171, 288]
NC-18625 [186, 529, 178, 61]
AM-10705 [318, 7, 5, 358, 198, 82, 26]
GG-14650 [157, 500, 101, 9, 138, 165, 28, 15]
NL-18310 [299, 278, 521]
AC-10450 [228, 146, 318, 63, 313, 77]
KH-16630 [94, 228, 310, 141, 271, 1, 20, 32]
PL-18925 [500, 397, 67, 176]
DG-13300 [245, 114, 301, 463]
SW-20755 [620]
SH-20395 [1, 343, 430, 82, 39, 19, 94, 35, 88]
PO-18850 [35, 146, 196, 290, 19, 291, 48, 41, 21, 63]
JK-16120 [282, 55, 193, 141, 79, 27, 61, 83, 116]
TC-21535 [214, 107, 303, 122, 384, 19]
SG-20605 [46, 353, 505, 141]
DM-13345 [9, 156, 427, 143, 14, 138, 244]
TH-21235 [49, 508, 12, 179, 188, 11, 88]
WB-21850 [38, 8, 234, 112, 46, 330, 200, 135, 29]
MS-17530 [14, 349, 355]
MD-17350 [418, 252, 186, 59, 119]
BG-11035 [31, 289, 102, 321, 287, 63, 30]
TC-20980 [50, 268, 377, 55]
BF-11215 [578, 277, 227]
PK-19075 [522, 122, 20, 19, 81, 2, 79, 169, 14, 64, 44]
TZ-21580 [389, 80, 641]
KD-16270 [397, 79, 95, 90]
DB-12970 [620, 154, 129]
RF-19840 [35, 488, 117, 121, 125, 252]
RM-19675 [5, 317, 18, 796]
ML-17410 [798, 129, 50, 111]
JL-15505 [16, 495, 412, 74, 96]
CM-11815 [47, 632, 168, 79, 85]
JF-15190 [748, 36, 85, 98, 109]
PB-19105 [491, 551, 42]
AH-10075 [401, 187, 81, 93, 119, 34, 129, 28, 34]
JD-16150 [127, 250, 28, 264, 94, 97, 239]
RH-19510 [289, 27, 164, 127, 66]
AB-10165 [133, 43, 46, 643, 15, 154, 81]
YC-21895 [361, 146, 152, 476]
RB-19330 [1071]
JK-15730 [13, 110, 238, 188, 132, 266, 73, 34]
AB-10600 [92, 286, 710]
MK-17905 [396, 147, 133, 27, 238, 58, 111]
PW-19240 [95, 65, 211, 10, 238, 55]
JC-16105 [36, 254, 780, 11]
DB-13360 [220, 260, 44, 349]
AD-10180 [37, 171, 20, 567, 98, 197, 18]
JM-15865 [271, 106, 20, 346, 166, 119]
GR-14560 [2]
DH-13075 [101, 104, 376, 277]
JK-15325 [437, 411]
SC-20680 [308, 307, 119, 23, 252]
TC-21475 [157, 206, 276, 105, 10, 108, 28, 91]
SP-20920 [508, 200, 13, 124, 219]
SM-20005 [17, 561, 134]
PB-19210 [446]
SS-20140 [309, 454, 126, 34, 107, 29, 59]
NG-18355 [296, 519, 183, 86]
HR-14830 [114, 93, 187, 2, 455, 122]
DK-12985 [252, 127, 514, 232]
NG-18430 [9, 338, 17, 720]
AR-10540 [138, 225, 311, 109, 342]
MP-18175 [357, 20, 364, 10, 57, 237, 70]
MO-17500 [648, 28, 380]
BT-11680 [224, 91, 184, 11, 578, 20]
BF-11080 [1019, 84]
MC-17635 [5, 446, 488]
AH-10210 [347, 27, 75, 381, 178, 41, 41, 31]
BS-11380 [370, 464, 249, 16]
TR-21325 [622, 22, 3, 285]
EM-13825 [55, 126, 453, 9, 239, 79, 108]
KN-16390 [94, 169, 608, 43, 38, 119, 34]
DP-13165 [313]
MD-17860 [908, 93, 53, 34]
MC-17575 [220, 63, 94, 372, 45, 185, 118]
CP-12085 [111, 163, 208, 57, 232, 228, 41]
NB-18655 [67, 262, 181, 143, 28, 376, 22, 23]
DK-13150 [1111]
RL-19615 [220, 321, 96, 235, 27, 46, 55]
RC-19825 [407, 142, 14, 137, 52]
JB-15925 [373, 12]
FP-14320 [2, 126, 284, 69, 269, 316, 30]
TB-21175 [480, 11, 569]
TB-21250 [306, 57, 56, 250, 38, 62]
DJ-13420 [301, 6, 174]
SH-19975 [290, 238, 124, 4, 45, 46, 70, 196, 4, 35, 35]
LH-17155 [190, 329, 7, 50, 111, 7, 34, 1]
CY-12745 [165, 34, 413, 19, 378, 45]
KC-16675 [532, 363, 161]

In [68]:
def calculate_avg(rate):
    if len(rate) == 0:
        return 0
    return sum(rate)/len(rate)

In [69]:
customers_purchase_rate = dict()

for key in customers_rate.keys():
    customers_purchase_rate[key] = calculate_avg(customers_rate[key])

In [70]:
customer_df = pd.DataFrame(columns = ['Customer ID', 'Purchase Rate'])

In [71]:
for key, value in customers_purchase_rate.items():
    new_row = pd.DataFrame([[key, value]], columns = ['Customer ID', 'Purchase Rate'])
    customer_df = pd.concat([customer_df, new_row], ignore_index=True)

C:\Users\jdham\AppData\Local\Temp\ipykernel_5156\2508001067.py:3: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  customer_df = pd.concat([customer_df, new_row], ignore_index=True)

In [72]:
customer_df.head()

  Customer ID  Purchase Rate
0    DP-13000     190.142857
1    PO-19195     342.500000
2    MB-18085     235.166667
3    ME-17320     156.888889
4    JO-15145     174.625000

we have the Purchase Rate. Let us calculate frequency.

In [73]:
customer_freq = dict()

for index, row in df.iterrows():
    if row['Customer ID'] not in customer_freq.keys():
        customer_freq[row['Customer ID']] = [row['Order ID']]
    else:
        if row['Order ID'] not in customer_freq[row['Customer ID']]:
            customer_freq[row['Customer ID']].append(row['Order ID'])

In [74]:
for key, value in customer_freq.items():
    customer_freq[key] = len(value)

In [75]:
for key, value in customer_freq.items():
    customer_df['Frequency'] = customer_df.apply(lambda row: customer_freq[row['Customer ID']], axis=1)

In [76]:
customer_df.head()

  Customer ID  Purchase Rate  Frequency
0    DP-13000     190.142857          8
1    PO-19195     342.500000          5
2    MB-18085     235.166667          7
3    ME-17320     156.888889         10
4    JO-15145     174.625000          9

We have the frequency now. Let us find the recency with respect to the last order's date.

In [77]:
latest_order_date = temp_df['Order Date'].max()
latest_order_date = pd.to_datetime(latest_order_date, format='%d/%m/%Y')
print(latest_order_date)

2018-12-30 00:00:00

In [78]:
customer_recency = dict()

for key in customers_order_dates.keys():
    customer_recency[key] = (latest_order_date - customers_order_dates[key][-1]).days

In [79]:
customer_df['Recency'] = customer_df.apply(lambda row: customer_recency[row['Customer ID']], axis=1)
customer_df.head()

  Customer ID  Purchase Rate  Frequency  Recency
0    DP-13000     190.142857          8      126
1    PO-19195     342.500000          5       86
2    MB-18085     235.166667          7       44
3    ME-17320     156.888889         10       42
4    JO-15145     174.625000          9       57

We have Recency as well, let us go for Monetary Value

In [80]:
customer_sales = dict()

for index, row in temp_df.iterrows():
    c_id = row['Customer ID']
    sales = row['Sales']
    if c_id not in customer_sales.keys():
        customer_sales[c_id] = [sales]
    else:
        customer_sales[c_id].append(sales)

In [81]:
customer_monetary = dict()

for key in customer_sales.keys():
    if len(customer_sales[key]) == 0:
        customer_monetary[key] = 0
    else: 
        customer_monetary[key] = round(sum(customer_sales[key])/len(customer_sales[key]),2)

In [82]:
customer_df['Monetary'] = customer_df.apply(lambda row: customer_monetary[row['Customer ID']], axis=1)

In [83]:
customer_df.head()

  Customer ID  Purchase Rate  Frequency  Recency  Monetary
0    DP-13000     190.142857          8      126     59.83
1    PO-19195     342.500000          5       86    105.69
2    MB-18085     235.166667          7       44    142.82
3    ME-17320     156.888889         10       42    484.71
4    JO-15145     174.625000          9       57    250.38

We are ready ! Lets export this data

In [84]:
customer_df.to_csv('customer_RFM.csv', index=False)

Since we already cleaned the data of any duplicacies and null values, I analyzed the data and created dashboards on base of it.<br><br>

# Report